includes:
    - vendor/nunomaduro/larastan/extension.neon
    - phpstan-baseline.neon

parameters:

    paths:
        - app/
        - database/migrations
        - database/seeders
        - routes/

    # Level 9 is the highest level
    level: 6

    checkMissingCallableSignature: true
    checkOctaneCompatibility: true
    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    reportMaybesInMethodSignatures: true
    reportStaticMethodSignatures: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkGenericClassInNonGenericObjectType: false

    exceptions:
        check:
            tooWideThrowType: true
